.task {
  border: 3px solid indigo;
  padding: 10px;
  width: 500px;
  height: 300px;
}

.menu-container {
  display: inline-block;
}

.menu-btn {
  width: 100px;
  background-color: dodgerblue;
  border: none;
  color: white;
  cursor: pointer;
}

.menu-btn:active {
  background-color: blue;
}

.menu {
  border: 1px solid gray;
  display: none;
}

.menu-opened {
  display: block;
}

.menu-list {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

.menu-item {
  padding: 2px;
}

.menu-item:hover {
  background-color: dodgerblue;
  cursor: pointer;
}

.field {
  position: relative;
  background-color: antiquewhite;
  width: 500px;
  height: 300px;
  overflow: hidden;
}

.moved-block {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 50px;
  height: 50px;
  background-color: brown;
}

.messager-container::after {
  content: "";
  clear: both;
  display: table;
}

.message {
  background-color: aquamarine;
  margin-bottom: 30px;
  padding: 5px;
  width: 300px;
  border-radius: 10px;
  position: relative;
}

.message-right {
  float: right;
}

.message-left {
  float: left;
}

.remove {
  position: absolute;
  top: 5px;
  right: 5px;
  color: red;
  cursor: pointer;
}
